<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Infrastructure Tests</title>

<style>
    {{> bootstrap.css}}
 </style>
 <script type="text/javascript">
   {{> jquery.hbs}}
 </script>
 <script type="text/javascript">
     {{> bootstrap.js}}
  </script>

 <style>
     {{> main.css}}
  </style>

  <script type="text/javascript">{{> cucumber.js}}</script>
  <script type="text/javascript">{{> ansi_up.js}}</script>

  <script type="text/javascript">{{> ../bundle/bundle.js}}</script>

</head>
<body>
  <div class="container">

  <div class="header">
    <h2>Infrastructure Tests</h2>
  </div>

  <div class="main">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a href="#feature-tab" data-toggle="tab">Feature</a></li>
      <li><a href="#output-tab" data-toggle="tab">Output</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="feature-tab">
        <textarea rows="50" cols="100"  id="feature">{{feature}}</textarea>
      </div>
      <div class="tab-pane" id="output-tab">
        <pre id="output"></pre>
      </div>
    </div>
  </div>

  <script type="text/javascript">{{> example.js}}</script>
  <script type="text/javascript">{{> world.js}}</script>
  <script type="text/javascript">{{> steps.js}}</script>

  <div class="footer">
    <button class="btn" id="run-feature">Run Tests</button>
  </div>
</body>
